* {
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#title {
    background: blue;
    height: 120px;
    width: 250px;
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 32px;
}

#title2 {
    background: blue;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 32px;
}

#input {
    text-align: center;
}

button {
    display: block;
    text-align: center;
    margin: 1rem auto;
}

.top-form {
    width: 70%;
    margin: auto;
}

select,
.top-form input {
    width: 20%;
}

label {
    padding: 0 0.5rem;
}

.row {
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    background-color: #FFF;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
}

th,
td {
    padding: 1rem;
    border-bottom: 3px solid #EEE;
}

.select {
    width: 20%;
    text-align: left;
}

img {
    width: 70%;
    height: auto;
}

.actions {
    width: 30%;
}

.actions button {
    display: inline-block;
}